@model FloCares.Models.Entities.Doctor

@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Rounded thumbs -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Doctors</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <div class="btn-group pull-right">

            <a class="btn btn-success" asp-area="Doctors" asp-controller="UserManager" asp-action="EditDoctor" asp-route-id="@Model.Id">Edit<i class='fa fa-edit fa-fw'></i> </a>
        </div>
    </div>



    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="thumb thumb-rounded thumb-slide">
                @*<img src="@Url.Content(Model.ProfilePicture)" alt="">*@

                @if (Model.ProfilePicture != "")
                {
                    <img src="@Url.Content(Model.ProfilePicture)" alt="">
                }

                else if (Model.Sex == FloCares.Models.Entities.Sex.Male)
                {
                    <img src="~/Admin/images/avatar5.png" alt="">
                }
                else if (Model.Sex == FloCares.Models.Entities.Sex.Female)
                {
                    <img src="~/Admin/images/avatar3.png" alt="">
                }

                else if (Model.Sex == FloCares.Models.Entities.Sex.Other)
                {
                    <img src="~/Admin/images/avatar.png" alt="">
                }

                else if (Model.Sex == FloCares.Models.Entities.Sex.NONE)
                {
                    <img src="~/Admin/images/avatar04.png" alt="">
                }

                <div class="caption">
                    <span>
                        @if (Model.ProfilePicture != "")
                        {
                            <a href="@Url.Content(Model.ProfilePicture)" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                        }

                        else if (Model.Sex == FloCares.Models.Entities.Sex.Male)
                        {
                            <a href="~/Admin/images/avatar5.png" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                        }
                        else if (Model.Sex == FloCares.Models.Entities.Sex.Female)
                        {
                            <a href="~/Admin/images/avatar3.png" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                        }

                        else if (Model.Sex == FloCares.Models.Entities.Sex.Other)
                        {
                            <a href="~/Admin/images/avatar.png" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                        }

                        else if (Model.Sex == FloCares.Models.Entities.Sex.NONE)
                        {
                        <a href="~/Admin/images/avatar04.png" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                        }


                        <a href="@Url.Action("Profile","UserManager")" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
                    </span>
                </div>
            </div>


            <div class="caption text-center">
                <h6 class="text-semibold no-margin">
                    @Model.Fullname <small class="display-block">
                        @*@if (user != null)
                            {
                                @(user.)
                            }
                            else
                            {

                            }*@
                    </small>
                </h6>
                <ul class="icons-list mt-15">
                    <li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
                    <li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
                    <li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top:30px;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table table-bordered">

                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.DoctorReg)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.DoctorReg)
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.Fullname)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.Fullname)
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.EmailAddress)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.EmailAddress)
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.PhoneNo)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.PhoneNo)
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.MobileNo)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.MobileNo)
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.Sex)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.Sex)
                        </td>
                    </tr>

                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.Address)
                        </td>
                    </tr>

                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.Department.DeptName)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.Department.DeptName)
                        </td>
                    </tr>

                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.BloodGroup.Name)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.BloodGroup.Name)
                        </td>
                    </tr>

                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.Education)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.Education)
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.Specialist)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.Specialist)
                        </td>
                    </tr>

                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.Designation)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.Designation)
                        </td>
                    </tr>

                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.Biography)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.Biography)
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.Status)
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div style="padding-bottom:30px;"></div>
</div>


<!-- /rounded thumbs-->
