
@model FloCares.Models.Entities.Schedule

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Departments</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <div class="btn-group pull-right">

            <a class="btn btn-success" asp-area="Admin" asp-controller="Schedules" asp-action="Edit" asp-route-id="@Model.Id">Edit<i class='fa fa-edit fa-fw'></i> </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">

                    <tr>
                        <th width="20%">
                            Doctor Name
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.Doctor.Fullname)
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.StartDate)
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.EndDate)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.EndDate)
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.PatientTime)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.PatientTime)
                        </td>
                    </tr>
                    <tr>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <td width="80%">
                            @Html.DisplayFor(model => model.Status)
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div style="padding-bottom:30px;"></div>
</div>


<!-- /rounded thumbs-->

