@model IEnumerable<FloCares.Models.Entities.Schedule>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Style {


}

<!-- Page length options -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Schedules</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <div class="btn-group pull-right">

            <a class="btn btn-success" asp-area="Admin" asp-controller="Schedules" asp-action="Create">Create New Schedule<i class='fa fa-plus fa-fw'></i> </a>
        </div>
    </div>

    <table class="table datatable-show-all table-bordered">
        <thead>
            <tr>

                <th>
                    S/No
                </th>
                <th>
                    Doctor Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatientTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int sno = 0;
            }

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{ sno++; }
                        @sno
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientTime)
                    </td>
                    <td>


                        @if (item.Status == FloCares.Models.Entities.EntityStatus.Active)
                        {
                        <td><span class="label label-success"> @Html.DisplayFor(modelItem => item.Status)</span></td>
                    }
                    else
                    {
                        <td><span class="label label-danger"> @Html.DisplayFor(modelItem => item.Status)</span></td>
                    }

                        <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li> <a asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                                        <li><a asp-action="Details" asp-route-id="@item.Id">Details</a></li>
                                        <li> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </td>


                    </tr>
                }


        </tbody>
    </table>
</div>
<!-- /page length options -->
